.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-overview {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.key-stats {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.stats {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buy {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stock-info {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 45%;
}

.info {
  display: flex;
  width: 100%;
  height: 30%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}

.buy-stock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 10%;
}

.buy-btn {
  width: 120px;
  height: 60%;
  color: white;
  background-color: green;
}

.sell-btn {
  width: 120px;
  height: 60%;
  color: white;
  background-color: red;
}

.stats-buy {
  width: 80%;
  flex-direction: row;
  display: flex;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40%;
}

.max-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 3%;
}

.buy-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 60%;
}

.small-btn {
  width: 45%;
  height: 60px;
  background-color: white;
  border: 1px solid #3aafa9;
  color: #3aafa9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-btn-2 {
  width: 45%;
  height: 60px;
  background-color: #3aafa9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stock-preview {
  margin-top: 5%;
  height: 20%;
  width: 70%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.small-numbers {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.confirm-btn {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.account-val {
  height: 40%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}
