.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  overflow-y: scroll;
  overflow: scroll;
}

.outer-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
